.btn {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;

  &.btn--disabled {
    background: #f1f2f6 !important;
    border: none;
    color: #333;
    cursor: auto;
    touch-action: manipulation;
  }

  &.btn__red {
    background: linear-gradient(180deg, #f53b82, #f53b57);
  }

  &.btn__green {
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
  }
}
